div,ul,li,dl,dt,dd{margin:0; padding: 0;}
li{list-style: none}
img{width: 190px; height: 160px; transform: scale(0.8)}

#food{width: 600px; height: 600px;position: relative;margin: 10px auto}
#food #close{width: 190px; height: 200px; position: absolute; left: 196px; top: 206px; background: rgba(255,0,0,.4); z-index: 9; display: none;}

#food ul li{width: 190px; height: 200px; float: left; border: 2px solid #000;}
#food ul li dl dd{text-align:center;height: 30px; font: 14px/30px '微软雅黑';}
#food ul li:nth-of-type(4){position: absolute; left: 388px; top: 204px;}#food ul li:nth-of-type(5){position: absolute; left: 388px; top: 408px;}
#food ul li:nth-of-type(6){position: absolute; left: 194px; top: 408px;}
#food ul li:nth-of-type(7){position: absolute; left: 0px; top: 408px;}
#food ul li:nth-of-type(8){position: absolute; left: 0px; top: 204px;}
#food ul li:nth-of-type(9){position: absolute; left: 194px; top: 204px;}

#big {width: 582px; height: 612px;position: absolute; }
.change{z-Index:99; background: red;animation: ggg 2s linear}
@keyframes ggg{
    from{transform:scale(2.6)};
    to{transform:scale(1)};
}